.App {
  text-align: center;
  background-color: aqua;
  /* background: rgb(155,166,168);
  background: linear-gradient(0deg, rgba(155,166,168,1) 17%, rgba(222,227,226,1) 100%); */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
#root {
  min-height: 600px;
}
