.sound_box {
    position: fixed;
    top: 55px;
    left: 20px;
    border-radius: 15px;
  }
  
  .registration-box {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .registration-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .candidate_input-box {
    display: flex;
    margin: 5px 0;
    width: 100%;
  }
  .candidate_input-box :nth-child(1) {
    width: 40%;
  }
  .candidate_input-box :nth-child(2) {
    width: 60%;
  }
  
  .registration-button {
    width: 120px;
    height: 30px;
  }