name: deploy-to-s3-example

on: 
  push:
    branches: [ main ]
    paths:
      - 'client/**' # workflow에서 적용될 path

defaults:
  run:
    working-directory: ./client # workflow에서 default working directory

jobs: 
  build: 
    runs-on: ubuntu-18.04
    steps:
      - name: git clone
        uses: actions/checkout@v2

      - name: npm install
        run: npm install 

      - name: build
        run: npm run build
      
      - name: deploy
        env: 
          AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
          AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
        run: |
          aws s3 cp \
            --recursive \
            --region ap-northeast-2 \
            dist s3:www.doremifasolidity-kdw.com
